.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 50px);
}

.wrapper p {
    display: flex;
}
button,
.default-button {
    padding: 10px;
    border-radius: 6px;
    border-style: none;
    font-weight: 700;
}

.default-button:hover {
    background: #AEAEAE;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
}

.outline {
    padding: 10px;
    border-radius: 6px;
    border-style: none;
    color: #3D5AFE;
    border: 1px solid #3D5AFE;
    background: #ffffff;
}
.outline:hover {
    background: rgba(41, 98, 255, 0.1);
    border: 1px solid #3D5AFE;
    color: #3D5AFE;
}

.variant-text {
    color: #3D5AFE;
    background-color: white;
}

.variant-text:hover {
    background: rgba(41, 98, 255, 0.1);
    color: #3D5AFE;
}

.disable-shadow {
    background-color: #3D5AFE;
    color: #ffffff;
}

.disabled-btn {
    background-color: #E0E0E0;
    color: #9E9E9E;
}
.disabled-btn:disabled {
    color:  #9E9E9E;
}